@model CatalogModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.PageTitle = T($"{Default.RESOURCE_PREFIX}.Admin.Sync.Catalog.Product.Edit").Text;
}

<form asp-controller="CatalogSync" asp-action="RevenewEditPopup"
          asp-route-btnId="@Context.Request.Query["btnId"]"
          asp-route-formId="@Context.Request.Query["formId"]">
        <section class="content">
            <div class="container-fluid">
                <div class="content-header clearfix">
                    <h1 class="float-left">
                        @T($"{Default.RESOURCE_PREFIX}.Admin.Sync.Catalog.Product.Edit")
                    </h1>
                    <div class="float-right">
                        <button type="submit" name="save" class="btn btn-primary">
                            <i class="far fa-save"></i>
                            @T("Admin.Common.Save")
                        </button>
                        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ProductTierPriceDetailsButtons })
                    </div>
                </div>
            @await Html.PartialAsync("_CreateOrUpdateRevenewCreate", Model)
            </div>
        </section>
    </form>